footer {
  text-align: center !important;
  margin-top: 72px !important;
}

footer .grid-layout {
  border-top: 1px solid rgba(114, 114, 126, 0.2) !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  text-align: center !important;
  width: 100% !important;
  padding: 18px !important;
}

@media screen and (max-width: 768px) {
  footer .grid-layout {
      justify-content: center !important;
  }
}

footer .grid-layout #direitos-autorais {
  margin-top: 24px !important;
}

footer .grid-layout p {
  color: #fff !important;
  text-align: center !important;
  
  font-size: 15px !important;
}

footer .grid-layout div {
  margin-top: 24px !important;
  display: flex !important;
  align-items: center !important;
}

footer .grid-layout div img {
  width: 128px !important;
  margin-left: 15px !important;
}

@media screen and (max-width: 768px) {
  footer .grid-layout div {
      width: 100% !important;
      justify-content: center !important;
  }
}